body{
  background: #141414;
  color:#ffffff;
}

img{
  width: 180px;
  border:solid white 2.5px;
  margin: 1px;
}


.movie-app > .row{
  overflow-x: auto;
  flex-wrap: nowrap;
}


.image-container{
  position: relative;
  transition:transform(0.2s);
}

.image-container :hover{
  cursor: pointer;
  transform: scale(1.1);
}

.overlay{
  position: absolute;
  background: rgb(0, 0, 0,0.8);
  opacity:0;
  transition: 0.5 ease;
  bottom: 0;
  font-size: 15px;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.image-container:hover .overlay{
  opacity: 1;
}